/*  
#343434 dark gray/blackish
#F7FFF7 Whiteish
*/
/* Global stuff*/
img {
    width: 300px;
}
body {
    color: #343434;
    background-color: #343434;
    margin: 0 50px;
    padding: 0;
}
a:hover {
    text-decoration: none;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}
/*NavBar*/
.navBar {
    background-color: #121420;
    color: #F7FFF7;
}
/* intro */
.intro {
    background-color: #2D728F;
    color: #F7FFF7;
}
/* Projects */
.projects {
    background-color: #B2E4DB;
 
}

/* Work Exp.*/
.work-experience {
    background-color: #B0C6CE;
}

/* Education*/
.education {
    background-color: #B2E4DB;
}

/* Certifications*/
.certifications {
    background-color: #2D728F;
    color: #F7FFF7;
}

.socials {
    background-color: #121420;
    color: #F7FFF7;
}